<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>エラー</title>
</head>
<body>
	<h1>エラー画面</h1>
	<p>システムエラーが発生しました。</p>
	<p>お手数ですが、<a th:href="@{/employees}">ここ</a>をクリックしてトップページへお戻りください。</p>
</body>
</html>