<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>従業員情報更新</title>
<script th:inline="javascript">
	function setData(){
	/*<![CDATA[*/
		document.forms.updateForm.id.value = /*[[${employee.id}]]*/ '';
		document.forms.updateForm.name.value = /*[[${employee.name}]]*/ '';
		document.forms.updateForm.password.value = /*[[${employee.password}]]*/ '';
	/*]]>*/
	}
</script>
</head>
<body>
	<h1>従業員情報更新</h1>

	<form method="post" action="/employees/update" th:name="updateForm" th:object="${employeeInputForm}">
		<!--/*
		*/-->
		<input type="hidden" th:field="*{id}" name="id" class="form-control"></input><br>
		<p>従業員番号：<span th:text="${employee.no}"></span></p>
		従業員名：<input type="text" th:field="*{name}" class="form-control"></input><br>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</p><br>
		パスワード：<input type="text" th:field="*{password}" class="form-control"></input><br>
		<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error!</p><br>
		<input type="submit" value="登録" />
	</form>

	<script>
		setData();
	</script>
</body>
</html>